h1{
    color: #fff;
}

.home-container{
    max-width: 350px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

h3{
    color: #fff;
}

p{
    color: #fff;
    font-size: large;
}

ul{
    list-style: none;
    font-size: large;
    color: #fff;
}

li{
    margin-bottom: 5px;
}