.menu-container{
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

div > img{
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 5px;
}